<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <link rel="stylesheet" href="/badge.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="/badge.js" type="text/javascript" charset="utf-8"></script>

    <title>Sunrise - Get your Sumrise badges here!</title>
  </head>
   <body>

<script type="text/javascript" charset="utf-8">
  var data = {"word_count":"2765","rank":"935","courses":[["Intermediate French","http://www.memrise.com/set/10010238/intermediate-french-3/"],["Introductory French","http://www.memrise.com/set/10007938/introductory-french/"],["Paul's advanced French: a memorable selection","http://www.memrise.com/set/10000711/pauls-advanced-french-a-memorable-selection/"],["Quelque mots que j'ai trouvé dans un livre","http://www.memrise.com/set/10025446/quelque-mots-que-jai-trouve-dans-un-livre/"]],"high_fives":"4","points":"539725","thumbs_up":"0","courses_total":"4","username":"rarky"};
  
  Sunrize.init();
</script>
  </body>
</html>